In [1]:
import pandas as pd
import yfinance as yf

In [129]:
all = yf.Ticker('AMZN MSFT GOOGL ADP')

In [4]:
df = yf.Ticker('AMZN').history(start="2016-01-01", end="2022-11-24", as_dict=True)

In [7]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04 00:00:00-05:00,32.814499,32.886002,31.375500,31.849501,186290000,0,0.0
2016-01-05 00:00:00-05:00,32.342999,32.345501,31.382500,31.689501,116452000,0,0.0
2016-01-06 00:00:00-05:00,31.100000,31.989500,31.015499,31.632500,106584000,0,0.0
2016-01-07 00:00:00-05:00,31.090000,31.500000,30.260500,30.396999,141498000,0,0.0
2016-01-08 00:00:00-05:00,30.983000,31.207001,30.299999,30.352501,110258000,0,0.0

In [15]:
df.index = df.index.strftime('%d-%b-%Y')

In [17]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
04-Jan-2016,32.814499,32.886002,31.375500,31.849501,186290000,0,0.0
05-Jan-2016,32.342999,32.345501,31.382500,31.689501,116452000,0,0.0
06-Jan-2016,31.100000,31.989500,31.015499,31.632500,106584000,0,0.0
07-Jan-2016,31.090000,31.500000,30.260500,30.396999,141498000,0,0.0
08-Jan-2016,30.983000,31.207001,30.299999,30.352501,110258000,0,0.0

In [21]:
splits = msft.get_balancesheet(freq='quarterly', as_dict=True)

In [74]:
details = ['fullTimeEmployees', 'volume', 'marketCap', 'totalDept', 'totalRevenue']

needed = {}

for key in amzn.info:
    if key in details:
        needed[key] = amzn.info[key]

needed

{'fullTimeEmployees': 1544000,
 'totalRevenue': 502190997504,
 'marketCap': 960286031872,
 'volume': 57938298}

In [119]:
tsla = 1

shares = yf.Ticker('MSFT').get_shares().values[-1][0]

In [120]:
shares

7496000000

In [115]:
yf.Ticker('TSLA').shares

In [114]:
yf.Ticker('MSFT').get_shares()

In [94]:
sp = yf.Ticker('SPC')

In [98]:
sp.info.

KeyError: 'shares'

In [132]:
import pickle

In [137]:
with open('../status_dump/company_shares_status_dumps.pickle', 'wb+') as fp:

    pickle.dump([
        'GOOGL'
    ], fp)